<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354622519459-tmfesp9s3hbepvvgfhci6udesnssgjc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354622519459-tmfesp9s3hbepvvgfhci6udesnssgjc9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>354622519459-hruj1mfakbsd2d02j7m3hoki2m0403vs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqlfjjqM-7Hdg66uX0F4l2x0W3R-STHrU</string>
	<key>GCM_SENDER_ID</key>
	<string>354622519459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amtzo.bloodDonation</string>
	<key>PROJECT_ID</key>
	<string>bloodmate-6d726</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodmate-6d726.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354622519459:ios:b9e25f697d74c76931a716</string>
</dict>
</plist>
